@use 'variaveis';

.footer {    
    text-align: center;
    background: variaveis.$corDefundoFooter;
    font-size: 12px;

    & p {
        margin: 0px 400px;
        color: variaveis.$corTextoSecundario;
    }

    & .final {
        margin-top: 20px;
        color: rgb(27, 27, 27);
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .footer {    
        max-width: 400px;
        & p {
            margin: 0 20px;
        }
    }
}

@media screen and (max-width: variaveis.$tablet) {
    .footer {    
        width: 100%;
        text-align: center;

        & p {
            margin: 0 200px;
        }
    }
}