@use 'variaveis';

.menu {
    background: variaveis.$corDeFundoMenu;
    padding-bottom: 100px;
    padding-top: 100px;

    &__toggle {
        margin: 0 auto;
        max-width: 920px;
        width: 100%;
        color: variaveis.$corTitulos;
        font-size: 24px;

        & h3 {
            color: variaveis.$corTitulos;
            font-size: 24px;
        }

        &__label__item {
            list-style: none;

            &__titulo {
                color: variaveis.$corFontePrincipal;
                cursor: pointer;
                margin-top: 18px;
                font-size: 16px;
                border-bottom: 1px solid variaveis.$corDestaques;
                position: relative;
                max-width: 920px;
                width: 100%;
                display: block;
                margin-bottom: 18px;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    left: 95%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__text {
                color: variaveis.$corTextoSecundario;
                font-size: 12px;
                line-height: 25px;
                width: 95%;
                overflow: hidden;
                height: 0;
            }

            &--is-open {
                .menu__toggle__label__item__titulo::after {
                    content: '-';
                }

                .menu__toggle__label__item__text {
                    height: auto;

                    & p {
                        margin-bottom: 10px;
                    }

                    & a {
                        text-decoration: none;
                        color: variaveis.$corTextoSecundario;

                        &:hover {
                            color: variaveis.$corTitulos;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
.menu {
    &__toggle {
    max-width: 400px;
    width: 100%;
    
        & h3 {  
        margin-left: 10px;
        }
    
        &__label__item {
            &__titulo {
            max-width: 400px;
            width: 100%;
            display: block;
                &::after {            
                left: 87%;
                height: 100%;
                }
            }
            &__text {
            width: 85%;
        }
    }
}
}
}

