@use 'variaveis';

.nav_info {
    background-color: variaveis.$corDeFundoMenu;
    padding: 10px 300px;

    &__title {
        margin: 20px 80px;
        font-size: 18px;
        color: variaveis.$corTitulos;
    }

    &__text {
        margin: 20px 80px;
        color: variaveis.$corTextoSecundario;
        line-height: 30px;
        font-size: 14px;
        font-weight: 300;
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .nav_info {
        background-color: variaveis.$corDeFundoMenu;
        padding: 10px 25px;
    
        &__title {
            margin: 10px 10px;
            font-size: 18px;
            color: variaveis.$corTitulos;
        }
    
        &__text {
            margin: 10px 10px;
            color: variaveis.$corTextoSecundario;
            line-height: 30px;
            font-size: 14px;
            font-weight: 300;
        }
    }
}