@use 'hero';
@use 'variaveis';

.nav_info {
    background-color: #504f4f;
    padding: 80px 300px;

    &__title {
        margin: 20px 80px;
        font-size: 18px;
        color: hero.$corTitulo;
    }

    &__text {
        margin: 20px 80px;
        color: variaveis.$corTextoSecundario;
        line-height: 30px;
        font-size: 14px;
        font-weight: 300;
    }

}