@use 'variaveis';

.sub__hero {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

        &__image {
        padding-top: 320px;
        margin: 0px 500px;
        width: 0px;
    
        & img {
        width: auto;
        height: 420px;
        border-radius: 15px;  
            }
        }
    
        &__text {
        padding-top: 220px;
        max-width: 400px;
        width: 100%;
        margin: 200px 0;
    
        & h3 {
        line-height: 36px;
        font-size: 1.2em;
        color: variaveis.$corFonteSecundaria;
        }
    
        & p {
        font-size: 0.8em;
        color: variaveis.$corFonteSecundaria;
        }
    }
}   

@media screen and (max-width: variaveis.$mobile) {
    .sub__hero {
        display: block;

            &__image {
            padding-top: 320px;
            margin: 0px 10px;

                & img {
                width: auto;
                height: 280px;
                border-radius: 15px;
                }
            }

            &__text {
            padding-top: 20px;
            max-width: 400px;
            width: 100%;
            margin: 20px 0;
                
        }
    }      
}

@media (min-width: variaveis.$mobile) and (max-width: variaveis.$tablet) {
    .sub__hero {
        display: block;
            &__image {
            padding-top: 110px;
            margin: 0px 100px;
            margin-left: 25%;
            
                & img {
                width: auto;
                height: 280px;
                border-radius: 15px;
                }
            }

            &__text {
            padding-top: 20px;
            max-width: 400px;
            width: 100%;
            margin: 20px 100px;
        }
    }      
}

@media (min-width: variaveis.$tablet) and (max-width: variaveis.$desktop) {
    .sub__hero {
        
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__image {
            padding-top: 120px;
            margin: 0px 100px;
            margin-left: 300;
        
            & img {
            width: auto;
            height: 420px;
            border-radius: 15px;
                }
        }
        
            &__text {
                padding-top: 220px;
                max-width: 400px;
                width: 100%;
                margin: 20px 10px;
        }
    }      
}