@use 'hero';
@use 'sub_hero';
@use 'variaveis';
@use 'nav_info';
@use 'menu';
@use 'filmes';
@use 'redes';
@use 'footer';

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundoPadrao;
    font-family: variaveis.$fontePrincipal;
}